* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-berlins-sans-fb: 'BerlinsSansFB', 'Arial', 'Helvetica', sans-serif;
  --font-kombin: 'Kombin', 'Arial', 'Helvetica', sans-serif;
  --font-maven-pro: 'Maven Pro', 'Roboto', 'Helvetica', sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--font-maven-pro), var(--font-kombin), var(--font-berlins-sans-fb), 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 75%;
    text-size-adjust: 75%;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

.swiper-slide {
  margin-right: 0;
}

.swiper-wrapper {
  align-items: center;
}